html {
	background-color: #d1caca;
	font-family: Arial;
}

body {
	width: 945px;
	margin: 0 auto;
	background-color: white;
	background-image: url(img/ban4.jpg);
	background-repeat: no-repeat;
	background-position: top, center;
	padding-top: 230px; 
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.one {
	background-color: rgba(255, 255, 255, .35);
	height: 80px;
	box-shadow: rgba(0, 0, 0, .8) 0 1px 0;
	margin-bottom: 50px;
}

h1 {
	color: white;
	font-size: 32px;
	padding: 5px 0 0 50px;
	text-shadow: rgba(0, 0, 0, .6) 2px 2px 2px;

}

h2, p, pre {
	font-style: italic;
}

h2 {
	border-bottom: 2px solid lightgray;
	margin: 20px 30px 0 30px;
	padding-top: 20px;
}

p {
	font-size: 16px;
	padding: 0 30px 30px 70px;
	text-align: justify;
}

p::first-letter {
	font-family: "Comic Sans MS";
	font-size: 30px;
}

a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: black;
  border: 1px solid rgba(0,0,0,.2);
  background: none;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a:before,
a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
a:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid black;
  border-top: 1px solid black;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
a:after {
  top: 0;
  right: 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
a:hover:before,
a:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
a:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
a:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
a:hover {background: rgba(255,255,255,.2);}